

@font-face {
    font-family: 'HelveticaNeueRegular';
    src: url('/media/css/fonts/helveticaneue.eot');
    src: url('/media/css/fonts/helveticaneue.eot') format('embedded-opentype'),
    url('/media/css/fonts/helveticaneue.woff') format('woff'),
    url('/media/css/fonts/helveticaneue.ttf') format('truetype'),
    url('/media/css/fonts/helveticaneue.svg#HelveticaNeueRegular') format('svg');
}


body {
  background: #fff
}
* { list-style:none; margin:0; padding:0;}
.main {
  padding-bottom: 48px;
}

/* headings, text */
h1,
h2,
h3,

h5,
h6 {
  margin: 15px 0 0 0;
  font-weight: normal;
  font-family: 'HelveticaNeueRegular';
}


h4 { margin:0 0 10px 0;}

a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a {
  outline: none;
}
a:focus {
  outline: none;
}
h2 { background:#2b2b2b; color:#fff; font-size:15px; padding:10px 16px; margin:0;}

h3 {
  position: relative;
  display: block;
  color: #333333;
  font-size: 15px;
  line-height: 15px;
  padding: 5px 0 0 15px;

  letter-spacing: 1px; margin:0;

}

.link {
  color: #c10e0f;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: -1px;
}
.font15 {
  font-size: 15px;
  line-height: 18px;
  color: #29373d;
  font-weight: bold;
  display: block;
  font-family: 'Open Sans', sans-serif;
  margin: 2px 0 14px 0;
}
.font15 a {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #29373d;
}
.font15 a:hover {
  color: #b40b0a;
}
.font14 {
  font-size: 14px;
  line-height: 18px;
  color: #4f4f4f;
}
.font14_a {
  font-size: 14px;
  line-height: 21px;
  color: #cc1014;
}
.font14_a a {
  color: #cc1014;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.font14_a a:hover {
  color: #26aad0;
}
#content ul {
  list-style: none;
}
.dis-block {
  display: block;
}
.left-0 {
  margin-left: 0 !important;
}
.last-mbot {
  margin-bottom: 0 !important;
}
.wrapper,
.extra-wrap,
.wrapper-extra {
  overflow: hidden;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.indent-bot {
  margin-bottom: 8px;
}
/*=================My styles of bootstrap================*/
.btn-1 {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
  z-index: 1;
  padding: 6px 13px 7px 13px;
  border: none;
  color: #d21216;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  font-weight: normal;
  background: #fff;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1em;
}
.btn-1 span {
  display: inline-block;
  background: url(/media/images/bg-btn-1.png) 0 0 no-repeat;
  width: 6px;
  height: 9px;
  margin-top: 1px;
  margin-left: 6px;
}
.btn-1:hover {
  outline: none;
  background: #d21216;
  color: #ffffff;
  text-shadow: none;
}
.btn-2 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
  z-index: 1;
  padding: 7px 13px 6px 13px;
  border: none;
  color: #d21216;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  font-weight: normal;
  background: url(/media/images/bg-btn-2.jpg) 0 0 repeat-x #b40b0a;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  line-height: 1em;
}
.btn-2 span {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 100%;
  background: #ffffff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.btn-2:hover {
  outline: none;
  background: url(/media/images/bg-btn-2.jpg) 0 0 repeat-x #b40b0a;
  color: #b40b0a;
  text-shadow: none;
}
.btn-2:hover span {
  right: 0;
}
.btn-2 i {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-left: 5px;
}
/*==================list=================*/
.list {
  display: block;
  overflow: hidden;
  margin: 0;
}
.list li {
  display: block;
  overflow: hidden;
  margin: 0 0 0 0;
  padding: 5px 0 4px 23px;
  font-size: 12px;
  background: url(/media/images/arrow.png) 3px 13px no-repeat;
  border-bottom: 1px dotted #6d6b66;
}
.list li:first-child {
  border-top: 1px dotted #6d6b66;
}
.list li a {
  color: #4f4f4f;
}
.list li a:hover {
  color: #cc1014;
}
figure.img-polaroid {
  display: inline-block;
 float:left;
}
.img-polaroid {
  padding: 5px;
}
.img-polaroid:after {
 
  content: "";
  left: 0;
  right: 0; 

 }
.img-polaroid img {

  width: 100%;
}
/*------===============HEADER==============------- */
header {

  z-index: 999;
  height: auto;
  background:url(/media/images/greenbase.png) repeat; height:170px;
  position: relative; font-size:17px; color:#000;
}
.greenbase {margin-top: 10px;}
#pages #content {
  margin-top: 0;
}
/* navbar */
.navbar_ {
  margin-bottom: 0 !important;
}
.navbar_ .collapse {
  overflow: visible;
}
.navbar_ .brand {
  position: relative;
  display: block;
  float: left;
  overflow: hidden;
  margin: 28px 0 0px 3px;
  padding: 0;
  line-height: 0; width:100%; height:97px;
}
.navbar_ .brand span {
  display: block;
  text-indent: -4000px;
}
.navbar_ .navbar-inner {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  min-height: inherit;
  border: none;
  background: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: 0;
}
.nav-collapse_ {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
  float: right;
  margin: 8px 0 0 0;
  padding: 0;
}
.nav-collapse_ .nav {
  display: block;
  float: none;
  margin: 0;
  padding: 0;
}
/*nav*/
.nav-collapse_ .nav li {
  position: relative;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  zoom: 1;
}
.nav-collapse_ .nav li a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  text-shadow: none;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
}
.nav-collapse_ .nav > li {
  display: inline-block;
  float: left;
  margin: 0 3px;
  border: none;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}
.nav-collapse_ .nav > li > a {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  display: block;
  margin: 0;
  padding: 8px 41px 9px 41px;
  text-align: center;
}
.nav-collapse_ .nav > li.sub-menu:after {
  position: absolute;
  top: 25px;
  left: 50%;
  display: block;
  margin-left: -4px;
  width: 8px;
  height: 4px;
  background: url(/media/images/indicator.png) 0 0 no-repeat;
  content: '';
}
.nav-collapse_ .nav ul {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  position: absolute;
  top: 56px;
  left: 0;
  z-index: 9;
  display: none;
  margin: 0;
  padding: 10px 21px 5px 21px;
  width: 145px;
  background: #ffffff;
  list-style: none;
  zoom: 1;
}
.nav-collapse_ .nav ul li {
  display: block;
  padding: 10px 0;
  text-align: left;
  border-top: 1px solid #eaeaea;
  position: relative;
}
.nav-collapse_ .nav ul li:first-child {
  border-top: none;
}
.nav-collapse_ .nav ul li a {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.nav-collapse_ .nav ul li a span {
  font-size: 11px;
  line-height: 14px;
  color: #d71318;
  text-transform: none;
  display: block;
}
.nav-collapse_ .nav ul li ul {
  left: 167px;
  top: 0;
}
.nav-collapse_ .nav ul > li.sub-menu_1:after {
  position: absolute;
  top: 50%;
  left: 90%;
  display: block;
  margin-top: -2px;
  width: 8px;
  height: 4px;
  background: url(/media/images/indicator.png) 0 0 no-repeat;
  content: '';
}
/*hover for first level*/
.nav-collapse_ .nav > li.sfHover,
.nav-collapse_ .nav > li.sfHover:hover,
.nav-collapse_ .nav > li:hover,
.nav-collapse_ .nav > li.active,
.nav-collapse_ .nav > li.active:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.nav-collapse_ .nav > li.sfHover > a,
.nav-collapse_ .nav > li.sfHover > a:hover,
.nav-collapse_ .nav > li > a:hover,
.nav-collapse_ .nav > li.active > a,
.nav-collapse_ .nav > li.active > a:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: url(/media/images/li-hov.jpg) 0 0 repeat-x #b40b0a;
  color: #ffffff;
}
/*hover for second level*/
.nav-collapse_ .nav > li > ul li > a:hover,
.nav-collapse_ .nav > li > ul li.sfHover > a {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #d71318;
}
/*-----================== HEADER END =================------*/
/*------================== Content =================------- */
#content, .foot {
  position: relative;
  margin: 0 auto 0;
  max-width: 980px;
  padding: 0 0 0 0;
 
}
.list_carousel {
  *zoom: 1;
}
.list_carousel:before,
.list_carousel:after {
  display: table;
  content: "";
  line-height: 0;
}
.list_carousel:after {
  clear: both;
}
.list_carousel:before,
.list_carousel:after {
  display: table;
  content: "";
  line-height: 0;
}
.list_carousel:after {
  clear: both;
}
/*----====================Content end ==================----*/
/*==========================PAGES===========================*/
/*=========================index============================*/
.box-list {
  padding-bottom: 35px;
}
.block-clients {
  *zoom: 1;
}
.block-clients:before,
.block-clients:after {
  display: table;
  content: "";
  line-height: 0;
}
.block-clients:after {
  clear: both;
}
.block-clients:before,
.block-clients:after {
  display: table;
  content: "";
  line-height: 0;
}
.block-clients:after {
  clear: both;
}
.block-clients span {
  display: block;
  float: left;
  width: 130px;
  margin: 0 6px 0 0;
}
.block-clients span img {
  margin: 0 4px 7px 0;
}
.block-clients p {
  font-size: 10px;
  line-height: 12px;
  color: #29373d;
  margin: -3px 0 0 0;
}
.block-customers {
  text-align: center;
  position: relative;
}
.block-customers em {
  font-size: 12px;
  color: #4f4f4f;
  line-height: 24px;
  display: block;
  position: relative;
  padding: 26px 0;
  margin-bottom: 42px;
}
.block-customers em:before {
  background: url(/media/images/bg_customers.png) 0 0 no-repeat;
  display: block;
  content: "";
  position: absolute;
  width: 30px;
  height: 21px;
  left: 50%;
  margin-left: -15px;
  top: -9px;
}
.block-customers em:after {
  background: url(/media/images/bg_customers_1.png) 0 0 no-repeat;
  display: block;
  content: "";
  position: absolute;
  width: 30px;
  height: 21px;
  left: 50%;
  margin-left: -15px;
  bottom: -18px;
}
.block-customers a {
  display: inline-block;
  border-top: 1px dotted #6e6b66;
  color: #29373d;
  font-size: 11px;
  padding: 0 5px;
}
.block-customers a:hover {
  color: #db141a;
}
.block-customers span {
  display: block;
  font-size: 11px;
  color: #29373d;
  padding: 11px 0 0 0;
}
.block-summitate {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #26aad0;
  font-style: italic;
  font-size: 24px;
  line-height: 31px;
}
.block-summitate span {
  text-transform: uppercase;
  font-size: 31px;
  color: #29373d;
  display: block;
  margin-bottom: 4px;
}
.box-blog em {
  *zoom: 1;
  display: block;
  font-style: normal;
  margin: -4px 0 0 0;
}
.box-blog em:before,
.box-blog em:after {
  display: table;
  content: "";
  line-height: 0;
}
.box-blog em:after {
  clear: both;
}
.box-blog em:before,
.box-blog em:after {
  display: table;
  content: "";
  line-height: 0;
}
.box-blog em:after {
  clear: both;
}
.box-blog em .font15 {
  float: left;
}
.box-blog em .link {
  float: right;
}
.box-blog ul {
  margin: -7px 0 0 0;
  padding: 0 0 0 0;
  font-size: 11px;
  line-height: 18px;
}
.box-blog ul li {
  padding: 11px 47px 13px 0;
  display: block;
}
.box-blog ul li + li {
  border-top: 1px dotted #b2b2b2;
}
.box-blog ul span {
  display: block;
  line-height: 18px;
  margin: -2px 0 0 0;
}
.box-blog ul span a {
  color: #26aad0;
}
.box-blog ul span a:hover {
  color: #c10e0f;
}
/*=========================index-1==========================*/
.list_1 {
  margin: -6px 0 0 0;
  display: block;
}
.list_1 li {
  display: block;
  margin: 0 0 0 0;
  padding: 0 0 3px 0;
}
.list_1 li + li {
  border-top: 1px dotted #b2b2b2;
  padding: 10px 0 3px 0;
}
.block-list_1 {
  *zoom: 1;
}
.block-list_1:before,
.block-list_1:after {
  display: table;
  content: "";
  line-height: 0;
}
.block-list_1:after {
  clear: both;
}
.block-list_1:before,
.block-list_1:after {
  display: table;
  content: "";
  line-height: 0;
}
.block-list_1:after {
  clear: both;
}
.block-list_1 em {
  display: block;
  width: 31px;
  height: 31px;
  background: url(/media/images/list_1_badge.jpg) 0 0 repeat-x #b40b0a;
  font-style: normal;
  color: #ffffff;
  font-size: 12px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  float: left;
  padding: 4px 0 0 0;
  margin: 6px 28px 0 0;
}
.block-list_1 .font15 {
  margin-bottom: 3px;
}
.block-list_1 .extra-wrap p {
  margin-bottom: 10px;
}
.block-text .font15 {
  margin: 0;
}
.div-comment {
  background: url(/media/images/bg_customers.png) 0 0 no-repeat;
  padding: 0 0 20px 58px;
}
.div-comment blockquote {
  border: none;
  margin: 0;
  padding: 0;
}
.div-comment p {
  font-size: 12px;
  line-height: 24px;
  color: #4f4f4f;
  font-style: italic;
  padding-right: 35px;
  margin-bottom: 16px;
}
.div-comment span {
  font-size: 11px;
  line-height: 24px;
  color: #29373d;
  display: block;
  border-top: 1px dotted #6e6b66;
}
.thumbnails {
  margin: 0 0 0 -20px;
  padding: 6px 0 0 0;
}

/*=========================index-2==========================*/
.block-client_1 .img-polaroid {
  width: 100%;
  margin: 0 0 21px 0;
}
.block-client_1 span {
  font-size: 14px;
  line-height: 21px;
}
.block-client_1 span a {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #cc1014;
}
.block-client_1 span a:hover {
  color: #18a6cf;
}
.box-clients {
  *zoom: 1;
  padding-bottom: 30px;
}
.box-clients:before,
.box-clients:after {
  display: table;
  content: "";
  line-height: 0;
}
.box-clients:after {
  clear: both;
}
.box-clients:before,
.box-clients:after {
  display: table;
  content: "";
  line-height: 0;
}
.box-clients:after {
  clear: both;
}
.block-indent {
  *zoom: 1;
}
.block-indent:before,
.block-indent:after {
  display: table;
  content: "";
  line-height: 0;
}
.block-indent:after {
  clear: both;
}
.block-indent:before,
.block-indent:after {
  display: table;
  content: "";
  line-height: 0;
}
.block-indent:after {
  clear: both;
}
.block-indent .img-polaroid {
  float: left;
  margin: 0 30px 0 0;
}
.block-indent .extra-wrap {
  overflow: visible;
}
.block_indent_1 img {
  float: left;
  margin: 0 30px 0 0;
}
/*=========================index-3==========================*/
/*=========================index-4==========================*/
.list-blog {
  margin: -4px 0 0 0;
}
.list-blog li {
  display: block;
  overflow: hidden;
  padding: 20px 0 20px 0;
  margin: 0 0 24px 0 ;
}
.list-blog li:first-child {
  padding-top: 0;
  border: none;
}
.list-blog li .wrapper-extra {
  overflow: hidden;
  font-size: 14px;
  line-height: 18px;
}
.list-blog li .wrapper-extra a {
  color: #4f4f4f;
}
.list-blog li .wrapper-extra a:hover {
  color: #26aad0;
}
.list-blog li .wrapper-extra time {
  display: inline-block;
  width: 82px;
}
.list-blog li .font15 {
  margin: 0 0 1px 0;
}
.block-blog {
  overflow: hidden;
  margin: 30px 0 0 0;
}
.block-blog .img-polaroid {
  float: left;
  margin: 4px 30px 15px 0;
}
.block-blog p {
  margin-bottom: 20px;
}
.block-blog .extra-wrap {
  overflow: visible;
}
/*=========================index-5==========================*/
.box-privacy .font15 {
  margin: 0;
}
.box-privacy .font14_a {
  color: #4f4f4f;
}
.pp {
  color: #4f4f4f;
  text-decoration: underline;
}
.pp:hover {
  color: #18a6cf;
}
/*==========================404=============================*/
.box-404 img {
  margin: 57px 0 0 0;
}
.block-404 {
  padding: 60px 0 0 0;
}
.block-404 h3 {
  margin: 56px 0 26px 0;
}
#search {
  position: relative;
  overflow: hidden;
  padding: 11px 0 0 0;
}
#search input {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  display: block;
  float: left;
  margin: 0 0 27px 0;
  padding: 10px 15px;
  width: 100%;
  height: 41px;
  border: 1px solid #b9b6ae;
  background: transparent;
  color: #4f4f4f;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 21px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#search input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#search a {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
/*======================Privacy Policy======================*/
/*================CONTACT FORM, MAP, ADRESS=================*/
.map {
  display: block;
  margin: 46px 0 35px 0;
  line-height: 0;
  padding: 5px;
  border: 1px solid #8b8986;
  background-color: #e7e5e0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.map iframe {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 370px ;
  border: none;
  line-height: 0;
}
.adress {
  font-size: 12px;
  color: #4f4f4f;
  margin-top: -3px;
}
.adress .font15 {
  margin: 0 0 3px 0;
}
.adress em {
  display: block;
  font-style: normal;
  margin-bottom: 20px;
}
.adress em i {
  font-size: 14px;
  line-height: 21px;
  color: #4f4f4f;
  font-style: normal;
}
.adress a {
  display: inline-block;
  margin-left: 2px;
  color: ;
}
.adress a:hover {
  color: #ffa401;
  text-decoration: underline;
}
.adress span {
  display: block;
}
#contact-form {
  position: relative;
  z-index: 1;
  margin: -1px 0 20px;
  padding: 2px 0 0 0;
  vertical-align: top;
  font-family: 'Open Sans', sans-serif;;
}
.txt-form {
  display: block;
  padding-bottom: 6px;
  color: #ffffff;
}
.txt-form span {
  color: #ffffff;
}
.form-div-1,
.form-div-2,
.form-div-3 {
  float: left;
  width: 193px;
}
.form-div-1 {
  margin-right: 20px;
}
.form-div-2 {
  margin-right: 20px;
}
#contact-form div {
  overflow: hidden;
}
#contact-form fieldset {
  position: relative;
  z-index: 10;
  overflow: hidden;
  padding: 0;
  width: 100%;
  border: none;
}
#contact-form label {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  min-height: 61px;
  width: 100%;
}
#contact-form .message {
  display: block !important;
  min-height: 201px;
  width: 100%;
}
#contact-form input,
#contact-form textarea {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin: 0;
  padding: 9px 14px 12px;
  width: 100%;
  outline: none;
  border: 1px solid #b9b6ae;
  background: #e7e5e0;
  color: #4f4f4f;
  font-size: 12px;
  line-height: 20px !important;
  font-family: 'Open Sans', sans-serif;;
}
#contact-form input {
  height: 41px;
}
#contact-form input:focus,
#contact-form textarea:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#contact-form .area .error {
  float: none;
}
#contact-form textarea {
  overflow: auto;
  width: 100%;
  height: 201px;
  resize: none;
}
#contact-form .success {
  position: absolute;
  top: 1px;
  left: 0;
  z-index: 20;
  display: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 14px 10px;
  width: 100%;
  border: 1px solid #fff;
  background: #000;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;;
  line-height: 22px;
}
#contact-form .error,
#contact-form .empty {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  display: none;
  overflow: hidden;
  padding: 5px 4px 0px 0;
  width: 100%;
  color: #f00;
  text-transform: none;
  font-size: 11px;
  line-height: 1.27em;
  font-family: 'Open Sans', sans-serif;;
}
#contact-form .message .error,
#contact-form .message .empty {
  bottom: 4px;
  text-align: left;
  top: auto;
  right: auto;
}
.buttons-wrapper {
  position: relative;
  padding: 27px 0 0 0;
}
/*------================== FOOTER ================= ------- */
footer {
  position: relative; font:normal 12px 'Open Sans', sans-serif;;
  background:url(/media/images/foot.jpg) repeat-x #333333;
  color: #fff;
  font-size: 11px;
 width:100%; padding:30px 0; float:left;
}
footer .foot .span1 { width:105px;}

footer .foot .span2 { margin-right: 45px ;}
footer .foot strong { display:block; padding:0 0 18px 0; font-size:16px; font-weight:normal;}
footer .foot .span2  p { line-height:12px; font-size:11px;}
footer .foot .span2  em { font-size:12px;}
footer .foot .span2  span { color:#8e8e8e; display:block;}
footer .foot .twit { background:url(/media/images/sprite.png) 0 0 no-repeat; width:102px; height:33px; float:left; margin:0px 0 10px 0;}
footer .foot .face { background:url(/media/images/sprite.png) 0 -38px no-repeat; width:102px; height:33px; float:left;}

footer a {
  color: #29373d; 
}


.footerform { padding:10px; background:#1f1f1f;}
.footerform form { margin:5px 20px;}

 .button  { border-radius:2px; padding:8px 20px; color:#282828; text-shadow:1px 1px 1px #fac97b; font:bold 14px Arial, Helvetica, sans-serif; border:none;background: #fde242; /* Old browsers */
background: -moz-linear-gradient(top,  #fde242 0%, #f58e1c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fde242), color-stop(100%,#f58e1c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fde242 0%,#f58e1c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fde242 0%,#f58e1c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fde242 0%,#f58e1c 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fde242 0%,#f58e1c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fde242', endColorstr='#f58e1c',GradientType=0 ); /* IE6-9 */
}
/*---===================== FOOTER END ================------*/


/*---===================== MID SECTION STARTS ================------*/

.midsection { background:url(/media/images/BASE.jpg) no-repeat; width:100%; height:603px; margin-top:-10px; }

.midsection .span12 { float:none; margin:0px auto; padding:40px 0 0 0;position:relative; height:574px;}
.midsection .sponsor { padding:10px; background:#fff; height:460px; box-shadow: 1px 1px 1px #ababab,  1px 1px 1px #ababab inset;}
.midsection h2 { background:none; padding:10px 0 0 0; margin:0;}
.spo h3 { font: normal 16px Arial, Helvetica, sans-serif; color:#191919; background:url(/media/images/dotbase.gif) repeat-x; margin:20px 0 0 ;  position:relative; float:left; width:94%; height:16px;} 
.spo strong { background:#fff; position:absolute; width:125px; top:-7px;}
.spo a img{margin: 0px 3px 7px 0px;}
.buisnessdirtab { position:absolute; width:100%; bottom:-18px;}



@media  (max-width: 767px) {
 .buisnessdirtab {
    position: static;
    width: 100%;
}
}



.buisnessdirtab a { text-transform:uppercase; font-size:16px; padding:17px 15px; text-align:center; font-weight:bold; color:#fff; background:#278f1c;}
.buisnessdirtab .g1 { background:#66ba1c;}
.buisnessdirtab .g2 { background:#98cc44;}
#profile { background:#e9e7e7; padding:10px 3px 5px 0;}
.greybase .nav { margin-bottom:0px;}
.greybase .nav-tabs > li > a { background:#ff5500; border-radius:0px; color:#fff; margin:0 7px 0 0; padding:10px 30px; font-size:15px; border:none; }
.greybase input[type="text"] { width:57%;margin-right: 5px; float: left; border:solid 1px #d1d0d0; color:#333; padding:11px 5px; box-shadow:1px 1px 1px #e9e7e7; font-size:13px;}
.greybase select {
    border: 1px solid #D1D0D0;
    box-shadow: 1px 1px 1px #E9E7E7;
    color: #333333;
    float: left;
    height: 40px;
    margin: 3px 10px 0 0;
    padding: 10px 5px 9px;
    width: 160px;
}
.greybase input[type="submit"] { background:url(/media/images/submit.gif) no-repeat; width:42PX; height:42PX; border:none;}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus,.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
 background:#e9e7e7; color:#333;}
 
.greybase .nav-tabs > li > a.active { background:#e9e7e7; color:#333;}
 

/*---===================== MID SECTION ends ================------*/


.select-menu {
  display: none !important;
}
/*-----================== MEDIA QUERIES============== ------*/
@media (min-width: 1230px) {
  #content, .foot {
    max-width: 1007px;
  
  }
  .block-summitate {
    width: 402px;
    margin: 0 0 0 34px;
    border-right: 1px dotted #6e6b66;
    border-left: 1px dotted #6e6b66;
    padding: 75px 75px 64px 75px;
  }

  #pages {
    background: url(/media/images/pages_body.jpg) center 0 no-repeat #dfdcd7;
    -webkit-background-size: 100%;
    background-size: 100%;
  }
  #pages header {
    margin-bottom: 22px;
  }
  .block-indent .extra-wrap {
    overflow: hidden;
  }
  #contact-form label {
    display: inline-block;
  }
  .form-div-1,
  .form-div-2,
  .form-div-3 {
    width: 243px;
  }
  #search {
    width: 370px;
  }
  .block-404 p {
    padding-right: 162px;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .nav-collapse_ {
    height: auto !important;
  }
}
@media (max-width: 979px) {
  .nav-collapse_ {
    height: auto !important;
  }
  .navbar_ .navbar-inner {
    text-align: center;
  }
  .navbar_ .brand {
    float: none;
    margin-bottom: 10px;
  }
  .navbar_ .nav-collapse_ {
    height: auto !important;
    float: none;
  }
  .navbar_ .nav-collapse_ .nav {
    float: none;
    text-align: center;
    display: inline-block;
  }
  .navbar_ .nav-collapse_ .nav li {
    font-weight: normal;
  }
  .navbar_ .nav-collapse_ .nav li > a {
    font-weight: normal;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .thumbnails .thumbnail {
    width: 220px;
  }
  .form-div-1,
  .form-div-2,
  .form-div-3 {
    width: 152px;
  }
  .form-div-1,
  .form-div-2 {
    margin-right: 10px;
  }
  .block-blog .img-polaroid {
    float: none;
    width: 100%;
    margin: 0 0 15px 0;
  }
}
@media (max-width: 767px) {
  .navbar_ .nav-collapse_ .nav {
    display: none;
  }
  .nav-collapse_ {
    height: auto !important;
  }
  .select-menu {
    display: block !important;
    margin-bottom: 2px;
    width: 100%;
    border: 1px solid #000;
    background: #d41217;
    color: #000;
    cursor: pointer;
  }
  .select-menu option {
    padding-bottom: 3px;
  }
  .block-client_1 {
    *zoom: 1;
    margin: 20px 0 20px 0;
  }
  .block-client_1:before,
  .block-client_1:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .block-client_1:after {
    clear: both;
  }
  .block-client_1:before,
  .block-client_1:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .block-client_1:after {
    clear: both;
  }
  .block-client_1 .img-polaroid {
    float: left;
    margin: 0 20px 20px 0;
  }
  .block-client_1 p {
    overflow: hidden;
  }

  .box-clients .span3 {
    width: 40%;
    float: left;
    margin: 0 20px 20px 0;
  }
  .form-div-1,
  .form-div-2,
  .form-div-3 {
    float: none;
    width: 100%;
    margin: 0 0 0 0;
  }
  .block-blog .img-polaroid {
    float: left;
    margin: 4px 20px 15px 0;
  }
  .block-blog p {
    margin-bottom: 20px;
  }
  .block-blog .extra-wrap {
    overflow: visible;
  }
  .block-404 {
    padding-top: 0;
  }
  .block-summitate {
    margin: 40px 0;
  }
  .buisnessdirtab {
    position: static;
    width: 100%; float:left;
}
}
@media (min-width: 626px) and (max-width: 767px) {
  
}
@media (max-width: 626px) {
  .thumbnails .thumbnail {
    width: 40%;
  }
}
@media (max-width: 560px) {
  
}
@media (min-width: 482px) and (max-width: 625px) {
  
}
@media (max-width: 480px) {
  .block-client_1 .img-polaroid {
    width: 100%;
    margin: 0 0 20px 0;
    float: none;
  }
  .list_footer li + li {
    border-left: 1px solid #29373d;
    padding: 0 0 0 10px;
  }
  .list_footer li {
    margin: 0 10px 0 0;
  }
  .thumbnails {
    margin: 0;
  }
  .thumbnails .thumbnail {
    width: 100%;
    float: none;
    margin: 0 0 30px 0;
  }
  .box-clients .span3 {
    float: none;
    width: 100%;
    margin: 0 0 20px 0;
  }
  .block-blog .img-polaroid,
  .block-indent .img-polaroid {
    float: none;
    margin: 0 0 15px 0;
    width: 100%;
    display: block;
  }
  .block-blog .img-polaroid img,
  .block-indent .img-polaroid img {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 481px) {
  
}
@media (max-width: 320px) {
  header {
    position: static !important;
  }
  .list_footer li + li {
    border-left: 1px solid #29373d;
    padding: 0 0 0 5px;
  }
  .list_footer li {
    margin: 0 5px 0 0;
  }
  .list-blog .fleft,
  .list-blog .fright {
    float: none;
  }
}
/*Core variables and mixins*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 31px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*Core variables and mixins*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 31px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.list_carousel #carousel-fred { margin-left:27px;}

.registered { border:solid 1px #818b91; border-radius:4px; padding:5px 15px;  margin:40px 0; color:#fff; font-weight:bold; }

.registered .re { padding:10px;font-size:13px; text-align:center;}
.registered .re span { background:url(/media/images/base.png) repeat-x; display:block; height:54px; width:163px; font:bold 50px Arial, Helvetica, sans-serif; letter-spacing:13px; color:#333; padding:0 0 0 13px; margin:10px 0 0 0;}
.container .row .span12  { margin-left:37px;}


#content .homeart h3 { color:#66ba1c;}
  #content .homeart { margin-top:25px;}

.breadcrumb {
  padding: 0px 15px 0 0;
  margin:15px 0 0 0 ;
  list-style: none;
  background-color:transparent;
  border-radius: 0px;
}

.navbar-form { background:#e9e7e7; width:98%; padding:10px 10px; margin:10px 0;}
.navbar-form li { padding:0 10px; float:left;}

.navbar-form li input[type="text"] { padding:10px; margin:0 0 0 5px; height:20px; width:400px;}

.navbar-form li.mm { padding-top:10px;} 
.navbar-form li select { padding:10px ; margin:0px;  width:110px;height:41px;}
.navbar-form li input[type="submit"]{ background:url(/media/images/submit.gif) no-repeat; width:42px; height:42px; border:none; margin:0;}
.leftnav { background:#e9e7e7;}
.leftnav h3 { margin:0; float:left; width:95%;font-size: 13px;}
.leftnav h3 span { float:left; background:url(/media/images/sprite.png) no-repeat; width:24px; height:21px;}

.leftnav h3 span.energy { background-position:-58px -74px;}
.leftnav ul { padding:13px 0 10.5px 0px; margin:0;}
.leftnav ul li { color:#666;}
.leftnav ul li a { color:#666;float:left; width:84%;padding:3px 0 3px 43px;  }
.leftnav ul li a:hover { color:#666; background:#ade153;float:left; width:84%; padding:3px 0 3px 43px;   }
.leftnav h3 span.herbal { background-position:-133px -74px;}
.leftnav h3 span.enviorment { background-position:-94px -74px;}
.leftnav h3 span.gifts { background-position:-160px -101px;}
.leftnav h3 span.health { background-position:-160px -71px;}
.leftnav h3 span.fashion { background-position:-94px -101px;}
.leftnav h3 span.business { background-position:-130px -97px;}

.leftnav .bdr { margin:10px 0;  border-bottom:solid 1px #ccc; float:left; width:100%;}

.sort { width:98%; display:block; background:#e9e7e7; box-shadow:1px 1px 1px #c5c5c5; padding:5px; margin:0 0 13px 0}

.searchresult {  margin: 10px 0;
    padding: 0px 10px 10px 20px;
    width: 95%;font-size: 13px;line-height: 16px;}
.searchresult img { border:solid 1px #e6e6e6; margin:5px 10px 0px 0;}

.searchresult span { display:block;}
.searchresult strong a { font-size:22px; font-weight: normal; display:block; color:#ff5500; margin:0; line-height:24px;}
.load { text-align:center;cursor: pointer; font-size:14px; padding:10px 0;}

.searchresultgrey { background:#f6f5f5; border-bottom:solid 2px #d2d2d2;padding-top: 5px;}
.green { color:#000000; font-size:30px; }
.thumbnail .caption { position:absolute; color:#fff; bottom:0px; background:url(/media/images/caption.png) repeat;font:normal 13px Arial, Helvetica, sans-serif; padding:9px 9px 45px 9px;}
.thumbnail .caption strong { font:bold 18px Arial, Helvetica, sans-serif;}
.more { position:absolute; bottom:0; left:0; width:67px; height:44px; background:url(/media/images/sprite.png) 0px -98px no-repeat;}
.more a { display:block;width:67px; height:44px; }


.comptop { width:100%; border:solid 1px #c5c5c5; padding:10px 0; background:url(/media/images/compbase.gif) repeat-x #f3f3f3; box-shadow:1px 1px 1px #cfcfcf; }

.comptop img { margin:0 0PX 0 10px ; border:solid 1PX #c5c5c5; box-shadow:1PX 1PX 1PX #ececec; float:left;}
.comptop h1 {text-transform: uppercase ;display:block; font-size:20px; float:left; width:80%;  margin:10px 0PX 10px 10px ; line-height:20px; color:#000000;}
.comptop em  { float:left; font-size:16px; font-style:normal; padding:5px 0; display:block; width:80%;margin:0 0PX 0 10px ;}
.comptop p  { float:left; width:80%; font:normal 12px Arial, Helvetica, sans-serif; padding:20px 0 0 0;margin:0 0PX 0 10px ;}
.buisness { margin:20px 0 0 0; position:relative;}
.buisness h2 { font:normal 18px Arial, Helvetica, sans-serif; display:block; font-weight:400; background:none; color:#000; padding:5px 0;}
.buisness ul { margin:10px 0}

.buisness li { display:inline-block; padding:0 5px;}
.buisness h2 em { color:#666666; font-style:normal;}
.buisness .contact { background:url(/media/images/caption.png) repeat; padding:10px 0 0 0; width:100%;
    float: left; color:#fff; }
.buisness .contact a { color:#fff;}
.buisness .contact span { float:left; width:20px; height:20px; background:url(/media/images/sprite.png) no-repeat;}
.buisness .contact span.mo { background-position:-121px -10px}
.buisness .contact span.web {background-position:-149px -10px}
.buisness .contact span.email {background-position:-150px -35px}
.buisness .contact span.ad {background-position:-118px -36px}
 .review { margin-top:10px;}
 .review em{ float:left; width:50%; color:#999999; font-size:12px; font-style:normal; display:inline-block;} 
.review a{ float:right; width:40%; font-size:12px;display:inline-block; text-align:right;} 
.review form { background:#e9e7e8; padding:5px; margin:10px 0;}
.review p { display:block; width:100%; padding:10px 0 0 0}
.review li { display:inline-block;}
.review input[type="text"] { width:300px; margin:5px 10px 5px 0;padding: 7px;}
.review input[type="submit"] { background:#f85606; border-radius:1px; color:#fff; font-size:14px; border:0px; padding:2px 10px; margin:43px 10px 0 10px;}

.review strong { color:#333333; font-size:16px; margin: 0 0 0 10px;}
.review  { margin:0;float: left;}
.review textarea { width:500px;}
@media (min-width: 768px) and (max-width: 979px)
{.review textarea { width:300px;}
.review input[type="submit"] { margin:10px 10px 0 0px;}
  
}

#googlemap{float: left;width: 696px;height: 240px;}

.martop { margin-top:30px;}

.contactform { background:#e9e7e7; margin:20px 0 0 0; padding:15px 10px 2px 10px; text-align:center;}
.contactform ul, .contactform li { margin:0; padding:0;}
.contactform li { margin:3px 0;}
.contactform form { text-align:left;}
.contactform strong { font:bold 18px Arial, Helvetica, sans-serif; display:block; width:100%; text-align:center; color:#000; font-weight:normal;}
.contactform em { font:normal 12px Arial, Helvetica, sans-serif; font-style:normal;}
.contactform input[type="submit"],input[type="submit"].orange { background:#f85606; border-radius:1px; color:#fff; font-size:14px; border:0px; padding:5px 15px; text-align:center; font-weight:bold; }
.logos { width:100%; background:#e9e7e7; }
.logos li { display:inline-block;}
.logos .spo { width:1006px; margin:20px auto 0 auto; padding:20px 0;}
.logos .spo img { margin:0 80px 0 0;}
.logos .spo img + img + img + img + img + img { margin-right:0px}

@media (max-width: 768px) 

{
  .logos .spo { width:90%;}

}

.tree strong { color:#51b84e; font-size:60px; padding:20px 0 30px 10px; float:left; display:block;}
.tree img { float:left;}
.tree em { font-style:normal; display:block; width:67%; float:left;}
.art  { margin:10px 0 0 30px; font:normal 12px Arial, Helvetica, sans-serif; color:#666666; text-align:justify;}
.art img { margin:0 30px 10px 0}
.art h1 { font:normal 20px 'HelveticaNeueRegular'; line-height:22px; width:200px; float:left; color:#000; display:block; margin:0 18px 0 0; text-align:left;}
.atr { background:#51b84e; color:#fff; font:normal 14px 'HelveticaNeueRegular'; margin:15px 0 5px 0; padding:5px 10px}
.latestart { padding:10px 0; font: normal 12px Arial, Helvetica, sans-serif; width:100%; float:left;}
.latestart img { margin:0 10px 0 0;}
.latestart strong { font: bold 13px 'HelveticaNeueRegular'; display:block;}
.span7 .latestart strong  {font:normal 19px 'HelveticaNeueRegular'; line-height:17px; }
.latestart span { font: normal 12px 'HelveticaNeueRegular'; padding:5px 0; display:block;}
.post { background: #fa5604;
    color: #FFFFFF;
    font: 14px 'HelveticaNeueRegular';
    margin: 15px 0 5px;
    padding: 5px 10px;}

.listright { background:#e9e7e7; padding:10px; border-bottom:solid 1px #fff; color:#666666;}
.listright strong { display:block; font:bold 15px Arial, Helvetica, sans-serif; padding:2px 0 5px 0;}
.listright p { width:80%; float:left;}
.listright em { float:right; width:22px; height:22px; background:url(/media/images/sprite.png) -198px -15px no-repeat;}
ul.keyword{width:670px;margin-top: 3px;}
ul.keyword li{width:33%;float: left;}
ul.keyword li a,ul.keyword li a:hover{color:#4F4F4F}

.list_carousel ul a p{color:#333;float:left;width:100%}
.list_carousel ul date{float: left;width:45%}
.list_carousel ul li a{width:70%;
    float: left;}
.blok_carousel strong{float: left;width:100%}

.list_carousel .bx-wrapper .bx-controls-direction a{top:10%;}
.list_carousel  .bx-wrapper .bx-prev{left:92% }
.foot .categ a{color:#fff}
.ui-dialog .ui-dialog-titlebar{background: none repeat scroll 0 0 #66BA1C;border-color: #66BA1C;}

.disable{display: none;}
#content .leftnav ul{float: left;padding-top: 0px;}
.indsearch{font-size: 12px;}
.w100{width: 100% !important;float:left}
.homecontent{margin-top:18px}
.fbtw {
    background: url("/media/images/sprite.png") no-repeat scroll -76px -192px transparent;
    float: left;
    width: 69px;
    text-align: center;
    height: 22px;
    margin: 0px 5px 0px 0px;
}
.tw {
    background-position: -3px -190px;width:67px
}






.qu { float:left; width:50px; margin:5px 0 0 0;}
.quote .latestart { float:right; width:92%;}
.question { float:left;border-bottom:solid 1px #e9e7e7; }

.question .que { float:left; width:80px; padding:20px 0 0 0;}
.question .que em { font-style:normal; color:#666666; display:block; padding:10px 0 0 0;}
.question .que1 { float:left; width:80%; padding:20px 0 10px 10px; border-left:solid 1px #e9e7e7;}
.question .que1 strong { font-family:'HelveticaNeueRegular'; font-size:13px; color:#333333;}
.question .que1 a { display:block; padding:5px 0 10px 0;}
.question .que1 .login {}
.question .que1 .login span { background:url(/media/images/sprite.png) -96px -128px no-repeat; width:18px; height:13px; float:left;	}
.question .que1 .view {}
.question .que1 .view span { background:url(/media/images/sprite.png) -115px -128px no-repeat; width:19px; height:14px; float:left;}
.askque { background:#e9e7e7; padding:15px 0; text-align:center; float:left; width:100%; margin:20px 0;}
.pt { padding:15px 0 0 0; text-align:justify; float:left; width:94%; font-size:12px;}
.span7 .pt strong { font-size:12px; font-weight:bold;}
.contact1 { }
.contact1 h3 { margin:0; padding:0; font-size:30px; line-height:35px;}
.contact1 p { display:block; padding:5px 0; }
.contact1 p strong { display:block; font-size:16px; font-weight:normal;}
.contact1 ul { margin:5px 0;}
.contact1 ul li { width:197px; float:left; margin: 2px 10px 2px 0; }
.contact1 ul li input[type="text"],.contact1 ul li select  { background:#f0ede5; padding:5px; width:90%; color:#333333;}
.contact1 ul li select { width:95%;  padding:4px 5px;}
.contact1 ul li.message { width:100%}
.contact1 ul li.message textarea { width:91%}
.contact1 ul li input[type="button"] { margin:0;}

.srchrest,.key{margin-left: 25px;}
.key h2,.leftnav,.srchrest, .key{float: left;}
.key h2{width: 95%;}
.ui-dialog{background: none;border-radius: 0px;border: none;}
.ui-dialog .ui-dialog-content{text-align: center;font-size: 15px;color:#333;background: #fff;}

.foottree { width:330px; color:#666666; font-size:15px;}

footer .foot .foottree strong { color: #666666;
    float: left;
    font-size: 40px;
    font-weight: 900;
    padding: 0;
    width: 206px;}

footer .foot .foottree span { float:left; width:80px; background:url(/media/images/sprite.png) -189px -74px no-repeat; height:100px;}



@media (max-width: 500px) {.greenbase  {background:#a9e14a;}

    .navbar_ .brand {margin:25px 0 0 3px}}

@media (max-width: 480px) {
    .quote .latestart { float:right; width:81%;}
    .question .que1 { float:left; width:76%;}
    .contact1 ul li { width:100%;}
    .contact1  { margin:0 0 0 10px;}
}



@media  (min-width: 768px) and (max-width: 1024px) {
    .midsection{height:682px}
    .midsection .span12{height:647px}
    .greybase{width:100%}
    .greybase input[type="text"]{width: 42%;}
    .tree{width:250px}
    .navbar-form li input[type="text"]{width:155px}
    .navbar-form li select{width:100px}
    .navbar_ .brand{text-align: left;}
    .srchrest{width:440px}
    .bd{width:455px}
    #googlemap{width:455px;}
    .key h2{width:95%}
    ul.keyword{width:100%}
    ul.keyword li{width:50%}
    .navbar-form{width:94%}

}

@media  (max-width: 640px) {
    .key h2{width: 568px;}
    .key{margin-left: 0px;}
    .ul.keyword li{width:100%}
    .navbar-form li input[type="text"]{width:479px;}
}


@media  (max-width: 480px) {
    .greybase input[type="text"]{width:80%}
    .homecontent{float: left;}
    .navbar-form { padding: 10px 3px;}
    .navbar-form li input[type="text"]{width:200px}
    .navbar-form li.mm{padding:10px 5px 0px 5px }
    .navbar-form li{padding:0px}
    .navbar-form li input[type="submit"]{height:30px;width:30px;background-position: -6px -5px;}
    .leftnav h2{float:left;width:95%; padding: 10px 11px;}
    .key h2,.leftnav,.srchrest, .key{float: left;}
    .key h2,.key{width:420px}
    .key h2 { padding: 10px;}
    .srchrest, .key{margin-left: 0px;}
    ul.keyword,ul.keyword li{width:100%}

}


@media  (max-width: 360px) {
    .greybase input[type="text"]{width:45%}
    .homecontent{float: left;}
    .navbar-form { padding: 10px 3px;}
    .navbar-form li input[type="text"]{width:200px}
    .navbar-form li.mm{padding:10px 5px 0px 5px }
    .navbar-form li{padding:0px}
    .navbar-form li input[type="submit"]{height:30px;width:30px;background-position: -6px -5px;}
    .leftnav h2{float:left;width:93%; padding: 10px 11px;}
    .key h2,.leftnav,.srchrest, .key{float: left;}
    .key h2,.key{width:97%}
    .key h2 { padding: 10px;}
    .srchrest, .key{margin-left: 0px;}
    ul.keyword,ul.keyword li{width:100%}
    .greybase select{width: 90px;}
}



@media  (min-width: 800px) and (max-width: 979px) {
    .key{width:455px;margin-left: 20px; }
    ul.keyword{width: 435px;}
    .navbar-form{width:97%}
}

.greenbase .bx-controls-direction, .prodimg .bx-controls-direction,.sponsor .bx-controls-direction{display: none;}
ul.bxbigbanner,.prodimg ul{margin: 0px;}