<article class="span6 pull-right">
    <h3>Latest Articles</h3>

    <div class="list_carousel responsive">

        <ul id="carousel-fred " class="bxslider">
            {% for blog in blogs %}
                <li class="span5">
                    <div class="blok_carousel">
                        <figure class="img-polaroid"><img width="140" height="140" src="{{ MEDIA_URL }}{{blog.image}}" alt=""></figure>
                        <date>{{blog.creation_date|date:'M d at h.i A'}}</date>
                        <a href='{{blog.linkurl}}'><p><strong>{{blog.name}}</strong>{{blog.text|safe}}</p></a>
                    </div>
                </li>
            {% endfor %}

        </ul>

    </div>
</article>