{% extends "layoutbase.html" %}


{% block bodycontent %}

    <div class="midsection">
  <div class="span12">
  <div class="span7 spn7">
  
  <h1>India get your green business online</h1>
  <h2>Welcome to india's 1st most comprehensive green business directory. Here you get to choose the Green Product/Services of the various green companies, that help to attain a sustainable life.</h2>
  <div class="span5 registered">
  <div class="re pull-left">Registered Green Companies
  <span>{{count.text1}}</span>
  
  </div>
  <div class="re pull-left ">Registered Green Products<span>{{count.text2}}</span></div>
  
  <div class="clearfix"></div>
  </div>
  
  <div class="span6 greybase">
  
      <ul class="nav nav-tabs">

    <li><a href="#product" data-toggle="tab" class="active cls_tab" >Product</a></li>
          <li><a href="#company" data-toggle="tab " class="cls_tab" >Company</a></li>
    </ul>
  <div id="profile" class="tab-pane fade active in">

                <form class="disable cls_tab_company cls_homeform" method='POST' action='{% url search %}'>
                    {% csrf_token %}
                
                	<ul>
                    <li >
                        <input name="keyword" type="text" value="" placeholder="Search Company" holder="Search Company" />
                        {{cityform.city}}
                        <input name="search_by" type="hidden" value="by_name" />
                        <input name="" type="submit" value="" />
                    </li>
                        </ul>
                </form>
              <form class="cls_tab_product cls_homeform" method='POST' action='{% url search %}'>
                  {% csrf_token %}
                       <ul>
                        <li >
                            <input name="keyword" type="text" value="" placeholder="Search Product" holder="Search Product" />
                           {{cityform.city}}
                            <input name="search_by" type="hidden" value="by_product" />
                            <input name="" type="submit" value="" />
                        </li>
                    </ul>
              </form>
              </div>
  
  
  
  </div>
  
  
  </div>

      {% if bigbanner %}
  <div class="span4 sponsor pull-right hidden-phone">
          <ul class="bxbigbanner">
              {% for logo in bigbanner %}
              <li>
          <img src="{{MEDIA_URL}}{{logo.image}}" alt="" />
      </li>{% endfor %}
          </ul>
{% endif %}
      {% if homelogos %}
      <div class="spo hidden-phone">
<h3><strong>  Sponsored by</strong></h3>
{% for logo in homelogos %}<a target="_blank" href="{{logo.click_url}}"><img src="{{MEDIA_URL}}{{logo.image}}" alt=""></a>{% endfor %}
</div>  
  {% endif %}
  
  </div>
  
  

    <div class="buisnessdirtab "><a href="{{ cats.0.name|slugify}}/{{sub.name|slugify}}/{{sub.id }}" class="span5">Green Business Directory</a>
        <a href="{% url greenvichar %}" class="span5 g1">Green Vichar</a>
        </div>
</div>
  
</div>
  
  <div id="content">
  
  
  
  
  
    <div class="container homecontent">
      <div class="row homeart">
      <article class="span4 offset1 pull-left tree"><img src="{{MEDIA_URL}}images/tree.gif" alt=""><strong>{{count.tree_planted}}</strong><em>Green has taken the initiative and planted 
{{count.tree_planted}} trees so far. <a href="#">Click here</a> to join us today</em></article>
      
      
      
       {% include "home/blog.html" %}
              
      </div>



  </div>

</div>

        {% if govnlogos %}
<div class="logos">

           <div class="spo">
           {% for logo in govnlogos %}
               {% if logo.click_url %}
               <a target="_blank" href="{{logo.click_url}}"><img src="{{MEDIA_URL}}{{logo.image}}" alt="" /></a>
           {% else %}<img src="{{MEDIA_URL}}{{logo.image}}" alt="" />{% endif %}
           {% endfor %}
            </div>
            </div>
{% else %}
            <br/>
        {% endif %}


{% endblock bodycontent %}
{% block JSCustom %}
    {{ block.super }}
    <script type="text/javascript">
        $('.bxslider').bxSlider({
            minSlides: 1,
            maxSlides: 1,
            slideWidth: 100,
            slideMargin: 10
        });
        {% if bigbanner.count > 1 %}
        $('.bxbigbanner').bxSlider({
            minSlides: 1,
            maxSlides: 1,
            speed: 1000,
            mode:'fade',
            auto: true,
            randomStart:true,
            infiniteLoop:true
        });
        {% endif %}
    </script>
{% endblock JSCustom %}