{% extends "layoutbase.html" %}

{% block title %}{{comp.company_name}} - Indiagetgreen{% endblock title %}
{% block meta %}
{{ block.super }}
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{comp.company_name}}" />
    <meta itemprop="title" content="{{comp.company_name}}" />
    <meta property="og:image" content="{{url_prefix}}media/images/200x200.jpg" />
    <meta itemprop="image" content="{{url_prefix}}media/images/200x200.jpg " />
    <meta property="og:url" content="{{url_prefix}}{{ comp.company_name|slugify }}/{{ comp.id }}/" />
    <meta itemprop="url" content="{{url_prefix}}{{ comp.company_name|slugify }}/{{ comp.id }}/" />
    <meta property="og:description" content="{{comp.business_description|removetags:'p b span br ul li strong ol'|safe|truncatewords:60}}" />
l    <meta name="Description" content="{{comp.business_description|removetags:'p b span br ul li strong ol'|safe|truncatewords:60}}" />
    <meta name="keywords" content="{{comp.deals_in}}" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="{{url_prefix}}{{ comp.company_name|slugify }}/{{ comp.id }}/" />
    <meta name="twitter:title" content="{{comp.company_name}}" />
    <meta name="twitter:description" content="{{comp.business_description|removetags:'p b span br ul li strong ol'|safe|truncatewords:60}}" />
    <meta name="twitter:image" content="{{url_prefix}}media/images/100x100.jpg" />
    {% if comp.state %}<meta name="geo.placename" content="{{ comp.state }}"/>{% endif %}
    <link rel="canonical" href="{{url_prefix}}{{ comp.company_name|slugify }}/{{ comp.id }}/" />
{% endblock meta %}

{% block bodycontent %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=564979820231984";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<div id="content">
    <div class="container" itemscope itemtype="http://schema.org/Company">

    <ul class="breadcrumb w100">
    <li><a href="{% url index %}">Home</a><span class="divider">&gt;</span></li><li class="active"><a href="/{{ cats.0.name|slugify}}/{{sub.name|slugify}}/{{sub.id }}">Categories</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;{{comp.company_name}}</li>
    <li class="pull-right">
        <div class="fb-like" data-href="{{url_prefix}}{{ comp.company_name|slugify }}/{{ comp.id }}/"
             data-width="100" data-layout="button_count" data-show-faces="false" data-send="false"></div>
    </li>

        <li class="pull-right">
           <a href="https://www.facebook.com/sharer/sharer.php?u={{url_prefix}}{{ comp.company_name|slugify }}/{{ comp.id }}/" target="_blank"> <span class="fbtw"></span></a>
            <a href="http://twitter.com/intent/tweet?text={{ cats.0.name|slugify}}&amp;url={{url_prefix}}{{ comp.company_name|slugify }}/{{ comp.id }}/" target="_blank"> <span class="fbtw tw"></span></a>
        </li>

      </ul>
      <div class="comptop pull-left">
          {% if comp.company_logo %}
          <img itemprop="image" src="{{MEDIA_URL}}{{comp.company_logo}}" alt="" />
          {% endif %}
          <h1 itemprop="name">{{comp.company_name}}</h1>    <em>  Business Profile: {{comp.get_business_type}}</em>
      
      <p {% if not comp.company_logo %}style="width:98%"{% endif %}><b>Deals in:</b> {{comp.deals_in}}</p>
      <div class="clearfix"></div>
      </div>
      
      <div class="span8 pull-left bd">
      <div class=" buisness">
   <h2>   Business Description</h2>
      
      <span itemprop="description">{{comp.business_description}}
      </div>

      {% if comp.get_green_o_meter %}
      
      <div class=" buisness">
   <h2>   Green-o-meter <em>(How green is it?)</em></h2>
   
   <ul>
   {% for obj in comp.get_green_o_meter %}
       <li><img src="{{MEDIA_URL}}{{obj.icon}}" alt=""></li>
   {% endfor %}
   </ul>
   
   
   </div>
   {% endif %}
   
   <div class=" buisness">
   <h2> Contact Information</h2>

<div id="googlemap">
       {{comp.address}}
   </div>

       <div class=" contact">
{% if comp.contact_person %}
   <strong>Contact Person: {{comp.contact_person}}</strong><br>{% endif %}
   <ul>
       {% if comp.address %}
       <li><span class="ad"></span>
   {{comp.address}}</li>{% endif %}
   {% if  comp.mobile %}
  <li><span class="mo"></span>{{comp.mobile}}</li>
       {% endif %}
       {% if comp.website %}
       <li>	  <span class="web"></span>	<a rel="nofollow" href="{{ comp.website }}" target="_blank">{{ comp.website }}</a> </li>
       {% endif %}
       {% if comp.contact_email %}
       <li> <span class="email"></span><a href="mailto:{{contact_email}}">{{comp.contact_email}}</a></li>
    {% endif %}
   </ul></div>
 
   </div>


<div class=" martop review">
<h2>Reviews</h2>

<form method='POST' action='{% url save_review %}' onsubmit="return false" id='id_formreview'>
 {% csrf_token %}
  <strong> Post a query
  </strong>
  <ul>
<li><input name="name" type="text" maxlength="70" class="required" placeholder="Name" holder="Name" /></li>
      <li><input name="email" type="text" maxlength="70" class="required email" placeholder="Email" holder="Email"></li>
<li><textarea name="text" cols="" rows=""  class="required" placeholder="Message" holder="Message"></textarea></li>
<li><input name="submit" type="submit" value="Post my review"></li>
<input type='hidden' name='compId' value="{{comp.id}}" />
</ul>

</form>
{% for review in reviews %}
<p>{{ review.text }}</p>
<em>Posted by {{ review.name }}</em>{% endfor %}

<a href="{% url view_company_reviews comp.company_name|slugify comp.id %}">View all reviews</a> </div>

</div>
<div class="span4 pull-right">
<div class="contactform"><strong>Contact form</strong><em>Fill the details below to get in touch </em>
<form action='{% url save_contact %}' onsubmit="return false" method='POST' id='id_formcontact'>
{% csrf_token %}
<ul>
	<li><input name="name" type="text" maxlength="70" class="required" placeholder="Name" holder="Name"></li>
	<li><input name="email" type="text" maxlength="70" class="required email" placeholder="Email" holder="Email"></li>
	<li><textarea name="text" cols="" rows="" placeholder="Message" holder="Message"></textarea></li>
	<input type='hidden' name='compId' value="{{comp.id}}" />
	<li><input name="" type="submit" value="Submit" /></li>
</ul>
</form>

</div>


{% if productimg %}
<div class="martop prodimg pull-left w100 hidden-phone">
<ul class="bxprodimg">
    {% for logo in productimg %}
       <li class="disable"> <img src="{{MEDIA_URL}}{{logo.image}}" alt="" /></li>
    {% endfor %}

</ul>
</div>
{% endif %}
</div>
    </div>
</div>

<br/>

{% endblock bodycontent %}
{% block JSCustom %}
    {{ block.super }}
    <script type="text/javascript">
        $('.bxprodimg').bxSlider({
            minSlides: 1,
            maxSlides: 1,
            speed: 1000,
            mode:'fade',
            auto: true,
            randomStart:true,
            infiniteLoop:true
        });
    </script>
{% endblock JSCustom %}