{% extends "layoutbase.html" %}


{% block bodycontent %}


<div id="content">
  
  
  
  
  
    <div class="container"> 
     
     
     
      <ul class="breadcrumb">
    <li><a href="#">Home</a> <span class="divider"> > </span></li>
    <li class="active"><a href="#">Categories</a> &gt; {{comp.company_name}}</li>
      </ul>
      
      
      <div class="comptop">
          {% if comp.company_logo %}
          <img src="{{MEDIA_URL}}{{comp.company_logo}}" alt="">
          {% endif %}
          <h1>{{comp.company_name}}
</h1>    <em>  Business Profile: {{comp.get_business_type}}</em>
      
      <p><b>Deals in:</b> {{comp.deals_in}}
</p>
      <div class="clearfix"></div>
      
      
      
      </div>
      
      <div class="span8 pull-left">
      <div class=" buisness">
   <h2>   Business Description</h2>
      
      {{comp.business_description}}
      </div>
      
      
      <div class=" buisness">
   <h2>   Green-o-meter <em>(How green is it?)</em></h2>
   
   <ul>
   {% for obj in comp.get_green_o_meter %}
       <li><img src="{{MEDIA_URL}}{{obj.icon}}" alt=""></li>
   {% endfor %}
   </ul>
   
   
   </div>
   
   
   <div class=" buisness">
   <h2> Contact Information</h2>

<div id="googlemap">
       {{comp.address}} {{comp.state}}
   </div>



   <div class=" contact"><strong>Contact Person: {{comp.contact_person}}</strong><br>
   <ul><li><span class="ad"></span>
   {{comp.address}}</li>
  <li><span class="mo"></span>{{comp.mobile}}</li><li>	  <span class="web"></span>	<a href="{{ comp.website }}" target="_blank">{{ comp.website }}</a> </li><li> <span class="email"></span><a href="mailto:{{contact_email}}">{{comp.contact_email}}</a></li></ul></div>
 
   </div>


<div class=" martop review">
<h2>Reviews</h2>

<form method='POST' action='{% url save_review %}' onsubmit="return false" id='id_formreview'>
 {% csrf_token %}
  <strong> Post a query
  </strong>
  <ul>
<li><input name="name" type="text" maxlength="70" class="required" placeholder="Name" holder="Name" /></li>
      <li><input name="email" type="text" maxlength="70" class="required email" placeholder="Email" holder="Email"></li>
<li><textarea name="text" cols="" rows=""  class="required" placeholder="Message" holder="Message"></textarea></li>
<li><input name="submit" type="submit" value="Post my review"></li>
<input type='hidden' name='compId' value="{{comp.id}}" />
</ul>

</form>
<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra,</p>
<em>Posted by Pritika Arora</em><a href="#">View all reviews</a> </div>

</div>
<div class="span4 pull-right">
<div class="contactform"><strong>Contact form</strong><em>Fill the details below to get in touch </em>
<form action='{% url save_contact %}' onsubmit="return false" method='POST' id='id_formcontact'>
{% csrf_token %}
<ul>
	<li><input name="name" type="text" maxlength="70" class="required" placeholder="Name" holder="Name"></li>
	<li><input name="email" type="text" maxlength="70" class="required email" placeholder="Email" holder="Email"></li>
	<li><textarea name="text" cols="" rows="" placeholder="Message" holder="Message"></textarea></li>
	<input type='hidden' name='compId' value="{{comp.id}}" />
	<li><input name="" type="submit" value="" /></li>
</ul>
</form>

</div>
<div class="martop"><img src="{{MEDIA_URL}}images/banner_300.jpg" alt=""></div>



</div>


    </div>
    
    
    
    
</div>

            <div class="logos">
            
           <div class="spo">
{% for logo in govn_logos %}<a href="{{logo.click_url}}"><img src="{{MEDIA_URL}}{{logo.image}}" alt=""></a>{% endfor %} </div>
            
            </div>


{% endblock bodycontent %}