{% extends "layoutbase.html" %}


{% block bodycontent %}



<div id="content">
  
  
  
  
  
    <div class="container"> 
     
     
     
         <ul class="breadcrumb">
    <li><a href="#">Home</a> <span class="divider"> > </span></li>
    <li class="active">Categories</li>
    </ul>

        {% include "directory/search.html" %}
        {% include "directory/categ-subcateg.htm" %}

      <div class="span7 pull-right">
      
   <h4>
   ‘Biogas and Biofuel’ yielded 289 Results
   
   
   </h4>
   
   <div class="sort"><select name="Sort">
     <option>Sort by Alphabets</option>
   </select></div>
   
   <div class="searchresult"><strong><a href="#">GE Doubled Global Solar Power investments</a> </strong>
   
     <img src="{{MEDIA_URL}}images/logo_search.gif" alt="" width="108" height="108" class="pull-left"> 
     <span><strong>Address:</strong> This is Photoshop's version  of Lorem Ips</span>
     <span> <strong>Email:</strong> <a href="#">contactus @ge.com</a></span>
     <span> <strong>Website:</strong> <a href="#">www.ge.com</a></span>
     <span> <strong>Business type:</strong> Manufacturer<br></span>
<strong>Company Profile: </strong>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum </div>
<div class="searchresult searchresultgrey"><strong><a href="#">GE Doubled Global Solar Power investments</a> </strong>
   
     <img src="{{MEDIA_URL}}images/logo_search.gif" alt="" width="108" height="108" class="pull-left"> 
     <span><strong>Address:</strong> This is Photoshop's version  of Lorem Ips</span>
     <span> <strong>Email:</strong> <a href="#">contactus @ge.com</a></span>
     <span> <strong>Website:</strong> <a href="#">www.ge.com</a></span>
     <span> <strong>Business type:</strong> Manufacturer<br></span>
<strong>Company Profile: </strong>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum </div>
<div class="searchresult"><strong><a href="#">GE Doubled Global Solar Power investments</a> </strong>
   
     <img src="{{MEDIA_URL}}images/logo_search.gif" alt="" width="108" height="108" class="pull-left"> 
     <span><strong>Address:</strong> This is Photoshop's version  of Lorem Ips</span>
     <span> <strong>Email:</strong> <a href="#">contactus @ge.com</a></span>
     <span> <strong>Website:</strong> <a href="#">www.ge.com</a></span>
     <span> <strong>Business type:</strong> Manufacturer<br></span>
<strong>Company Profile: </strong>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum </div>
<div class="searchresult searchresultgrey"><strong><a href="#">GE Doubled Global Solar Power investments</a> </strong>
   
     <img src="{{MEDIA_URL}}images/logo_search.gif" alt="" width="108" height="108" class="pull-left"> 
     <span><strong>Address:</strong> This is Photoshop's version  of Lorem Ips</span>
     <span> <strong>Email:</strong> <a href="#">contactus @ge.com</a></span>
     <span> <strong>Website:</strong> <a href="#">www.ge.com</a></span>
     <span> <strong>Business type:</strong> Manufacturer<br></span>
<strong>Company Profile: </strong>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum </div>
<div class="searchresult"><strong><a href="#">GE Doubled Global Solar Power investments</a> </strong>
   
     <img src="{{MEDIA_URL}}images/logo_search.gif" alt="" width="108" height="108" class="pull-left"> 
     <span><strong>Address:</strong> This is Photoshop's version  of Lorem Ips</span>
     <span> <strong>Email:</strong> <a href="#">contactus @ge.com</a></span>
     <span> <strong>Website:</strong> <a href="#">www.ge.com</a></span>
     <span> <strong>Business type:</strong> Manufacturer<br></span>
<strong>Company Profile: </strong>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum </div>
<div class="searchresult searchresultgrey"><strong><a href="#">GE Doubled Global Solar Power investments</a> </strong>
   
     <img src="{{MEDIA_URL}}images/logo_search.gif" alt="" width="108" height="108" class="pull-left"> 
     <span><strong>Address:</strong> This is Photoshop's version  of Lorem Ips</span>
     <span> <strong>Email:</strong> <a href="#">contactus @ge.com</a></span>
     <span> <strong>Website:</strong> <a href="#">www.ge.com</a></span>
     <span> <strong>Business type:</strong> Manufacturer<br></span>
<strong>Company Profile: </strong>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum </div>


   <div class="sort load">Load more results</div>
      </div>
     
     
  </div>

</div>



{% endblock bodycontent %}