{% extends "layoutbase.html" %}

{% block title %}Green Vichar - IndiaGetGreen{% endblock title %}
{% block css.custom %}
{{ block.super }}
<style type="text/css">

    .row-fluid [class*="span"]:nth-child(4){
        margin-left:0px
    }

</style>
{% endblock css.custom %}

{% block bodycontent %}

<div id="content">
    <div class="container">
      <ul class="breadcrumb">
    <li><a href="{% url index %}">Home</a><span class="divider">></span></li>
    <li class="active">Green Vichar</li>
    </ul>
    <h1 class="green">Green Vichar</h1></div>
<div class="row-fluid">
            <ul class="thumbnails">
            {% for vichar in vichars %}
            	<li class="span4">
                <div class="thumbnail">
                  <img src="{{MEDIA_URL}}{{ vichar.image }}" alt="{{ vichar.title }}" />
                  <div class="caption">
				  <strong>{{ vichar.title }}</strong>          
				  <p>{{ vichar.text }}</p>
                      {% comment %}<a href="{% url view_listing vichar.get_type|slugify vichar.type %}"></a>{% endcomment %}
   				  <span class="more">  </span>
                  </div>
                </div>
                </li>
            {% endfor %}

            </ul>
          </div>
</div>


{% endblock bodycontent %}
