{% extends "layoutbase.html" %}
{% block bodycontent %}

<div id="content">
<div class="container">
     <ul class="breadcrumb">
    <li><a href="#">Home</a><span class="divider">></span><a href="{% url greenvichar %}">Green vichar</a><span class="divider">></span></li>
    <li class="active">Events</li>
    </ul>
      
      <div class="span7 pull-left">
      
  <span class="pull-left atr">LATEST ARTICLES</span>  <span class="pull-right post">Post an article</span>
  {% if vid == '1' or vid == '2' %}
  {% for obj in obj_list %}
      <div class="latestart">     <img src="{{MEDIA_URL}}{{obj.image}}" alt="" align="left" /><strong>{{obj.title}}</strong>
<span>{{obj.published_by}}</span>
{{obj.description}}</div>
   
   <div class="bdr"></div>
  {% endfor %}
  {% endif %}

      </div>




     <aside class="span4 pull-right " >
         {% for vichar in vichars %}

 <div class="listright"><strong><a href="{% url view_listing vichar.get_type|slugify vichar.type %}">
     {{ vichar.title }}</a></strong><p>{{ vichar.text }}.
     <a href="{% url view_listing vichar.get_type|slugify vichar.type %}">more</a>
 </p><a href="{% url view_listing vichar.get_type|slugify vichar.type %}"><em></em></a>
 <div class="clearfix"></div></div>

{% endfor %}
           <div class="clearfix"></div>
      </aside>
  </div>

</div>



{% endblock bodycontent %}
