{% extends "layoutbase.html" %}
{% block bodycontent %}

<div id="content">
<div class="container">
     <ul class="breadcrumb">
    <li><a href="{% url index %}">Home</a><span class="divider">></span><a href="{% url greenvichar %}">Green vichar</a><span class="divider">></span></li>
    <li class="active">{{ title.0.title }}</li>
    </ul>
      
      <div class="span7 pull-left">


          <span class="pull-left atr">LATEST {{ title.0.title }}</span>
          {% if vid != '3' %}
          <span class="pull-right post">Post an {{ title.0.title }}</span>
      {% endif %}
  {% if vid == '1' or vid == '2' %}
  {% for obj in obj_list %}
      <div class="latestart"><img src="{{MEDIA_URL}}{{obj.image}}" alt="" align="left" /><strong>{{obj.title}}</strong>
<span>{{obj.published_by}}</span>
{{obj.description|truncatewords:60}}</div>
   
   <div class="bdr"></div>
  {% endfor %}
  {% endif %}

          {% if vid == '4' %}
              {% for obj in obj_list %}
          <div class="quote"> <span class="qu">
   <img height="44" width="37" alt="" src="images/quote.png"></span>
              <div class="latestart ">
              <strong> {{ obj.text }}</strong>
              <span>{{obj.published_by}}</span>
              </div>
          </div>
              <div class="bdr"></div>
              {% endfor %}
      {% endif %}


          {% if vid == '3' %}
              {% for obj in obj_list %}

                  <div class="latestart ">

                      <!--<iframe title="YouTube video player" class="youtube-player" type="text/html"
                              width="640" height="390" src="{{ obj.links }}"
                              frameborder="0" allowFullScreen></iframe>-->

                      <object class="objvideo" width="100%" >
                          <param name="movie" value="http://www.youtube.com/v/8FMz_KT1mC4" />
                          <param name="wmode" value="transparent" />
                          <embed src="http://www.youtube.com/v/AyPzM5WK8ys"
                                 type="application/x-shockwave-flash"
                                 wmode="transparent" width="100%"   />
                      </object>



                      <span class="pt"><strong>{{ obj.published_by }}</strong></span>
                  </div>

              <div class="bdr"></div>
              {%  endfor  %}
          {% endif %}

          {% if vid == '5' %}
              {% for obj in obj_list %}
                  <div class="question">




 <span class="que">

Question posted by
<strong>{{ obj.published_by }} </strong>
<em>4 Answers</em></span>


                      <div class="que1">
                          <strong>{{ obj.question }}</strong>
                          <a class="login" href="#"><span></span> Login to reply</a>
                          <p>{{ obj.answer }}</p>
                          <a class="view" href="#"><span></span> View all</a>
                      </div>
                  </div>
              {% endfor %}
          {% endif %}


      </div>




     <aside class="span4 pull-right " >
         {% for vichar in vichars %}

 <div class="listright"><strong><a href="{% url view_listing vichar.get_type|slugify vichar.type %}">
     {{ vichar.title }}</a></strong><p>{{ vichar.text }}.
     <a href="{% url view_listing vichar.get_type|slugify vichar.type %}">more</a>
 </p><a href="{% url view_listing vichar.get_type|slugify vichar.type %}"><em></em></a>
 <div class="clearfix"></div></div>

{% endfor %}
           <div class="clearfix"></div>
      </aside>
  </div>

</div>

<br/>

{% endblock bodycontent %}
