{% extends "layoutbase.html" %}
{% block bodycontent %}

<div id="content">




<div class="container">
     
     
     
         <ul class="breadcrumb">
    <li><a href="#">Home</a> <span class="divider"> > </span><a href="#">Green vichar</a>  <span class="divider"> > </span></li>
    <li class="active">Events</li>
    </ul>
      
      <div class="span7 pull-left">
      
  <span class="pull-left atr">LATEST ARTICLES</span>  <span class="pull-right post">Post an article</span>
   <div class="latestart">     <img src="{{MEDIA_URL}}images/95x95_art.jpg" alt="" align="left"><strong> This is Photoshop's version  of 
Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</strong>
<span>by Pritika Arora</span>
This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odi</div>
   
   <div class="bdr"></div>
   
   
      <div class="latestart">     <img src="{{MEDIA_URL}}images/95x95_art.jpg" alt="" align="left"><strong> This is Photoshop's version  of 
Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</strong>
<span>by Pritika Arora</span>
This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odi</div>
   
   <div class="bdr"></div>
      <div class="latestart">     <img src="{{MEDIA_URL}}images/95x95_art.jpg" alt="" align="left"><strong> This is Photoshop's version  of 
Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</strong>
<span>by Pritika Arora</span>
This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odi</div>
   
   <div class="bdr"></div>
      <div class="latestart">     <img src="{{MEDIA_URL}}images/95x95_art.jpg" alt="" align="left"><strong> This is Photoshop's version  of 
Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</strong>
<span>by Pritika Arora</span>
This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odi</div>
   
   <div class="bdr"></div>
      <div class="latestart">     <img src="{{MEDIA_URL}}images/95x95_art.jpg" alt="" align="left"><strong> This is Photoshop's version  of 
Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</strong>
<span>by Pritika Arora</span>
This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odi</div>
   
   <div class="bdr"></div>
      <div class="latestart">    <strong> This is Photoshop's version  of 
Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</strong>
<span>by Pritika Arora</span>
This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odi</div>
   
   <div class="bdr"></div>
   
   
   

      </div>
     
     <aside class="span4 pull-right " >
    
 <div class="listright"><strong><a href="#">Events</a></strong><p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.<a href="#">more</a></p><a href="#"><em></em></a>
 <div class="clearfix"></div></div>
     
 <div class="listright"><strong><a href="#">Article</a></strong><p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.<a href="#">more</a></p><a href="#"><em></em></a>
 <div class="clearfix"></div></div>
  <div class="listright"><strong><a href="#">Picture and videos</a></strong><p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.<a href="#">more</a></p><a href="#"><em></em></a>
 <div class="clearfix"></div></div>
   <div class="listright"><strong><a href="#">Share ideas, stories and quotes </a></strong><p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.<a href="#">more</a></p><a href="#"><em></em></a>
 <div class="clearfix"></div></div>
   <div class="listright"><strong><a href="#">Ask question and give answer</a></strong><p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.<a href="#">more</a></p><a href="#"><em></em></a>
 <div class="clearfix"></div></div>


           <div class="clearfix"></div>
      </aside>
  </div>

</div>



{% endblock bodycontent %}
