{% extends "layoutbase.html" %}
{% block bodycontent %}
  
  <div id="content">
  
  
  
  
  
    <div class="container"> 
     
     
     
         <ul class="breadcrumb">
    <li><a href="{% url index %}">Home</a> <span class="divider"> > </span></li>
    <li class="active">Categories</li>
    </ul>
        {% include "directory/search.html" %}

        {% include "directory/categ-subcateg.htm" %}

      <div class="span7 pull-left srchrest">

          <h4>
              ‘{{keyword}}’ yielded {{compcount}} Results


          </h4>

          <div class="sort"><select name="Sort">
              <option>Sort by Alphabets</option>
          </select></div>


          {% include "search/searchlisting.html" %}
  </div>

</div>
  </div>

{% endblock bodycontent %}