{% extends "layoutbase.html" %}
{% block title %}{{ keyword }} companies in india | {{ keyword }} companies - India Get Green{% endblock title %}
{% block bodycontent %}
  
  <div id="content">
    <div class="container">
     
         <ul class="breadcrumb">
    <li><a href="{% url index %}">Home</a> <span class="divider"> > </span></li>
    <li><a href="/{{ cats.0.name|slugify}}/{{sub.name|slugify}}/{{sub.id }}">Categories</a> <span class="divider"> > </span></li>
    <li class="active">Search</li>
    </ul>
        {% include "directory/search.html" %}

        {% include "directory/categ-subcateg.htm" %}

      <div class="span7 pull-left srchrest">

          <h4>'{{keyword}}' yielded {{compcount}} Results</h4>

          <div class="sort"><select name="Sort">
              <option>Sort by Alphabets</option>
          </select></div>


          {% include "search/searchlisting.html" %}
  </div>

</div>
  </div>

{% endblock bodycontent %}