<div id="content">
  
  
  
  
  
    <div class="container"> 
      <div class="row">
               <article class="span12">
                 <h3>Latest Articles</h3>
                  
                <div class="list_carousel responsive">
                  <ul id="carousel-fred">     
                      <li class="span3">
                        <div class="blok_carousel">
                          <figure class="img-polaroid"><img alt="" src="images/homeimage.jpg"></figure>
                          <date>June 19 at 08:89 PM</date>
                          <p><strong>This is Photoshop's version  
of Lorem Ipsum. </strong>Lorem ipsum dolor sit, consctetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. </p>
                        </div>
                      </li>
                <li class="span3">
                        <div class="blok_carousel">
                          <date>June 19 at 08:89 PM</date>
                          <p><strong>This is Photoshop's version  
of Lorem Ipsum. </strong>Lorem ipsum dolor sit, consctetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. </p>
                        </div>
                      </li>
                        
                      
                  </ul>
                  <a id="prev-carousel" href="#"> &lt; </a>
                  <a id="next-carousel" href="#"> &gt; </a>
                </div>
               </article>
               <article class="span12"></article>
          </div>



  </div>

</div>
