{% extends "layoutextend.html" %}
<div class="midsection">
  <div class="span12">
  <div class="span7">
  
  <h1>India get your green business online</h1>
  <h2>Welcome to india's 1st most comprehensive green business directory. Here you get to choose the Green Product/Services of the various green companies, that help to attain a sustainable life.</h2>
  <div class="span5 registered">
  <div class="re pull-left">Registered Green Companies
  <span>5000</span>
  
  </div>
  <div class="re pull-right ">Registered Green Companies<span>5000</span></div>
  
  
  </div>
  
  <div class="span6 greybase">
  
      <ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#profile">Profile</a></li>
   
    </ul>
  <div class="tab-pane fade active in" id="profile">
                <form>
                
                	<ul>
                    <li><input type="text" value="Search here" name=""></li>
                   
                    <li><select name="cat">
                      <option>Select City</option>
                    </select></li>
                    <li><select name="city">
                      <option>Select Category</option>
                    </select></li><li class="pull-left"><input type="button" name=""></li>

                    
                    </ul>
                
                
                </form>
              </div>
  
  
  
  </div>
  
  
  </div>
  
  <div class="span4 sponsor"><img alt="" src="images/banner_300.jpg">
  <div class="spo">
<h3><strong>  Sponsored by</strong></h3>
<a href="#"><img alt="" src="images/logo1.gif"></a><a href="#"><img alt="" src="images/logo2.gif"></a><a href="#"><img alt="" src="images/logo3.gif"></a> <a href="#"><img alt="" src="images/logo1.gif"></a><a href="#"><img alt="" src="images/logo2.gif"></a><a href="#"><img alt="" src="images/logo3.gif"></a> </div>
  
  
  
  </div>
  
  
    <div class="buisnessdirtab "><a class="span4" href="#">Green Business Directory</a><a class="span4 g1" href="#">Green Business Directory</a><a class="span4 g2" href="#">Green Business Directory</a></div>
  </div>

  
</div>
