<footer>
    <div class="foot">
        <ul><li class="span2"><strong>What are they Saying </strong><p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p><em> Mohit Arora</em><span> ABC Enterprise</span>

           {% comment %}
            <div class="pull-left foottree">

                <span class="pull-left"></span>

                <strong>{{count.tree_planted}}</strong> Green has taken the initiative and planted {{count.tree_planted}} trees so far. Click here to join us today</div>
                {% endcomment %}
        </li>
            <li class="span2"><strong>Categories</strong>
                <ul class="categ">
                    {% for i in list %}<li>

                        <a href="{{i.0|slugify}}/{{i.1.name|slugify}}/{{i.1.id }}">{{ i.0 }}</a>

                        </li>{% endfor %}
                </ul>

            </li>
            <li style="margin-right:none;" class="span1"><strong>FeedBack</strong>
                <a class="twit" href="#"></a>
                <a class="face" href="#"></a>


            </li>   <li class="span4 footerform pull-right">
                <form id='id_enquiry' method='POST' action="{% url enquiry %}" onsubmit="return false">
                     {% csrf_token %}
                    <strong>Get in touch with us, fill the details below </strong>
                    <input type="text" name="name" maxlength="70" class="required" placeholder="Name" holder="Name" />

                    <input type="text" name="email" maxlength="70" class="email required"  placeholder="Email" holder="Email" />
                    <input type="text" name="mobile" maxlength="12" class="numericOnly" placeholder="Mobile" holder="Mobile" />

                    <textarea rows="3" cols="2" name="text" placeholder="Message" holder="Message"></textarea>
                    <input type="submit" class="button" value="Submit" name="">

                </form>



            </li>
        </ul>
    </div>


</footer>