<header>
    <div class="container">
        <div class="navbar navbar_ clearfix">
            <div class="navbar-inner">
                <div class="clearfix">
                    <h1 class="brand"><a href="index.html"><img alt="" src="{{MEDIA_URL}}images/logo.png"></a><span>Green</span></h1>
                    <div class="greenbase">The more lighter we take the subject of Deforestration, the more heavier it costs</div>
                </div>
            </div>
        </div>
    </div>
</header>