<header>
    <div class="container">
        <div class="navbar navbar_ clearfix">
            <div class="navbar-inner">
                <div class="clearfix">
                    <h1 class="brand"><a href="{% url index %}"><img alt="" src="{{MEDIA_URL}}images/logo.png"></a><span>Green</span></h1>
                    <div class="greenbase pull-left">
                        <ul class="bxslider1 pull-left w100">
                        {% for text in headings %}
                        <li>{{text.text}}</li>
                                {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>